<section class="json-parser-tiles w-100 mt-5">
    <div class="form-group w-20 mb-3 ms-5">
        <label>Search</label>
        <input type="text" [(ngModel)]="name" class="form-control" (keyup)="searchParser()">
    </div>
    <div *ngIf="listOfParsers$ | async" class="d-flex flex-row flex-wrap ms-5 json-parser-tiles-container" >
        <ng-container *ngFor="let file of list" >
            <div class="parser mb-5" appDivSelect [status]="file.status" >
                <div [style.background-color]="file.status === 0 ? '#ccc' : '#126812'" class="json-parser-header text-center">
                    {{file.Name}}
                </div>
                <div class="resolution">
                    <span class="fw-bold">{{file.NativeResolution}}</span>
                </div>
                <div class="file-size pe-2">
                    <span class="fw-bold">{{file.Size}}</span>
                </div>
            </div>
        </ng-container>
    </div>
</section>